.btn {
  margin: 0px;
  height: 50px;
  width: 250px;
  background-color: hsl(180, 22%, 45%);
  display: block;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.btn:hover {
  background-color: hsl(180, 22%, 50%);
}
.error {
  color: red;
}
