#OrderDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}
#OrderDetail #alert {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(56, 197, 56, 0.8);
  width: 70%;
  border-radius: 0.25rem;
  margin: 2rem 0;
  height: 80px;
  font-size: 1.5rem;
  color: rgb(24, 66, 24);
}

#OrderDetail #bottom {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 1rem 1rem 4rem 1rem;
}
#OrderDetail #bottom #purchaseDetail {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 0rem 3rem 3rem 3rem;
  height: 100%;
  position: relative;
  left: 4rem;
}
#OrderDetail #orderTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
}
#OrderDetail #bottom #itemsDetail {
  position: relative;
  right: 1rem;
}
