#ItemDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: space-around;
}
#ItemDetail #containerLeft {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 0.25rem;
}
#ItemDetail #containerLeft img {
  height: 500px;
  max-width: 100%;
}
#ItemDetail #containerRight {
  width: 100%;
  padding: 2rem 3rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#containerRight #productInfo #name {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 2rem;
}
#containerRight #productInfo #price {
  font-size: 2rem;
  margin-bottom: 2rem;
}
#containerRight #productInfo #secundaria > * {
  text-align: left;
  line-height: 1.5rem;
}
#ItemDetail #containerRight #buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
