#ItemDetail {
    display: flex;
    height: 75vh;
    border-radius: 0.25rem;
}
#ItemDetail #containerLeft {
    border-radius: 0.25rem;
    background-color: #fff;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#ItemDetail #containerLeft img {
    height: 100%;
}

#ItemDetail #containerRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
}
#ItemDetail #containerRight #top #name {
    font-size: 1.3rem;
    font-weight: 700;
}
#ItemDetail #containerRight #top #price {
    font-size: 2.5rem;
}
#ItemDetail #containerRight #middle #description {
    font-size: 1.2rem;
}
#ItemDetail #containerRight #bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#ItemDetail #containerRight #bottom .bottomBtn {
    margin: 10px;
    height: 50px;
    width: 250px;
    background-color: hsl(180, 22%, 45%);
    top: 0;
}
#ItemDetail #containerRight #bottom .bottomBtn:hover {
    background-color: hsl(180, 22%, 50%);
}
